*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    color: white;
    list-style: none;
    text-decoration: none;
    gap: 30px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    width: 1440px;
    height: 70px;
}

header{
    background-color: #282829;
}

img{
    width: 40px;
    height: 40px;
}
h1{
    margin-left: 500px;
    font-size: 88px;
    font-weight: 500;
    width: 743px;
    margin-top: 114px;
    margin-bottom: 114px;
}

.card img{
   width: 393px;
   height: 230px;

}

.card{
    width: 393px;
    height: 396px;
    text-align: center;
}

h3{
    font-weight: 600;
    font-size: 28px ;
}

.case{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 102px;
}